.cursor_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #a3d5f4, #c8a2c8, #f4b4b4);
  mix-blend-mode: difference;
  pointer-events: none;

  .cursor_text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-size: 0.6vw;
    transform: translate(-50%, -50%);
  }
  @include tablet {
    display: none;
  }
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ccc;
    color: #000;
    transform: translateY(-100%);

    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

.inner {
  margin: 0 auto;
  padding: 0 70px 0 70px;

  @include tablet {
    padding: 0 40px 0 40px;
  }
  @include mobile {
    padding: 0 20px 0 20px;
  }
}

.scroll_top {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 2;
}
