.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    background: #ccc;

    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

.scroll-hide {
  overflow: hidden;
}

.intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 100vh;
  width: 100%;
  background-color: #d3bcce;

  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    margin-bottom: 300px;
  }
  .char {
    opacity: 0;
    transform: scale(0);
    display: none;
    font-family: cinzel;
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;

    @include tablet {
      font-size: 9vw;
    }
  }
  #flowerAnimation {
    width: 600px;
    height: 601px;
    // @media screen and (min-width: 2360px) {
    background-image: url("../images/v2-2.png"); /* 스프라이트 이미지 경로 */
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      background-image: url("../images/v2_1.png");
      width: 320px;
      height: 400px;
    }
    // }
  }
}

.inner {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hash {
  span {
    transition: 0.3s all;
  }
  span:hover {
    color: #fff;
    background-color: #000;
  }
}

.cursor {
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #a3d5f4, #c8a2c8, #f4b4b4);
  z-index: 10;
  position: fixed;
  transform: translate(-50%, -50%);
  span {
    visibility: hidden;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.6vw;
  }
}

.scrollTop {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
