.cursor_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #a3d5f4, #c8a2c8, #f4b4b4);
  mix-blend-mode: difference;
  pointer-events: none;

  @include tablet {
    display: none;
  }

  .cursor_text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-size: 0.6vw;
    transform: translate(-50%, -50%);
  }
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ccc;
    color: #000;
    transform: translateY(-100%);

    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

.intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: #d3bcce;

  .intro_title {
    margin-bottom: 300px;
    text-align: center;
  }

  .char {
    display: none;
    opacity: 0;
    transform: scale(0);
    font-weight: 500;
    font-size: 5vw;
    font-family: cinzel;
    line-height: 1;

    @include tablet {
      font-size: 9vw;
    }
  }

  #flower_animation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 601px;
    background: url("../images/sp_intro_flower_mo.png") no-repeat 0 0;

    @include tablet {
      width: 320px;
      height: 400px;
      background-image: url("../images/sp_intro_flower_pc.png");
    }
  }
}

.inner {
  margin: 0 auto;
  padding: 0 80px 0 80px;

  @include tablet {
    padding: 0 40px 0 40px;
  }
}

.scroll_top {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 2;
}
