@font-face {
  font-family: "larken";
  src: url("../fonts/larken.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquareNeo-Lt";
  src: url("../fonts/NanumSquareNeoTTF-aLt.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "NanumSquareNeo-Rg";
  src: url("../fonts/NanumSquareNeoTTF-bRg.woff") format("woff");
  font-weight: 200;
}

$fonts: (
  "Zephyr": (
    normal: "ZephyrRegular",
  ),

  "Figtree": (
    normal: "Figtree-VariableFont_wght",
    500: "Figtree-Medium",
  ),
);

@each $font-family, $weights in $fonts {
  @each $weight, $file in $weights {
    @font-face {
      font-family: $font-family;
      src: url("../fonts/#{$file}.woff") format("woff");
      font-weight: if($weight == italic, normal, $weight);
      font-style: if($weight == italic, italic, normal);
      font-display: swap; /* 추가 */
    }
  }
}
