* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  // flex-shrink: 0;
}

html,
body {
  height: 100%;
  // scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* μ„Έν… */
body {
  padding-bottom: 100vh;
  height: auto;
  font-family: "pretandard", sans-serif;
  letter-spacing: 0em;

  @include tablet {
    padding-bottom: 0;
  }
}

fieldset {
  border: 0;
}
