$desktop: 991px;

@mixin desktop {
  // 768 이하을 꾸미는거다.
  @media screen and (max-width: $desktop) {
    @content;
  }
}
$tablet: 768px;

@mixin tablet {
  // 768 이하을 꾸미는거다.
  @media screen and (max-width: $tablet) {
    @content;
  }
}

$mobile: 425px; // 모바일로 고치기 (280 아래가 minDevice 임))

@mixin mobile {
  // 320 이하을 꾸미는거다.
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@mixin ellipse($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($line > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  } @else {
    white-space: nowrap;
  }
}
