//  1025 ~ 1228
$desktop: 1228px;

@mixin desktop {

  // 1228 이하을 꾸미는거다. 
  @media screen and (max-width: $desktop ) {
    @content;
  }
}

// [769] ~ 1024
$tablet: 1024px;

@mixin tablet {

  // 1024 이하를 꾸미는거다. 
  @media screen and (max-width: $tablet) {
    @content;
  }
}

// [321] ~ 768
$mobile: 768px;

@mixin mobile {

  // 768 이하을 꾸미는거다. 
  @media screen and (max-width: $mobile) {
    @content;
  }
}

//  ~ 320
$minDevice: 320px;

@mixin minDevice {

  // 320 이하을 꾸미는거다. 
  @media screen and (max-width: $minDevice) {
    @content;
  }
}

@mixin ellipse($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if($line > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }

  @else {
    white-space: nowrap;
  }
}