.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 300px;
  height: 100vh;
  color: #fff;
  // color: #000;
  // background-color: #b3c8cf;
  background: url("../images/img_footer_bg.jpg");
  font-family: "Libre Baskerville";
  @include tablet {
    position: relative;
    gap: 0;
    height: auto;
  }

  .inner {
    width: 100%;

    @include tablet {
      padding-top: 50px;
    }
  }

  .heading_area {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .headline {
      font-weight: 400;
      font-size: 30px;

      @include tablet {
        font-size: 3vw;
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgba($color: #000, $alpha: 0.1);
    font-size: 20px;
    text-align: center;
    transition: 0.5s ease;

    @include tablet {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      font-size: 2vw;
    }

    &:after {
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      transform: translateX(0);
      background: url("../images/ico_black_arrow.png") no-repeat;
      background-size: cover;
      transition: 0.5s ease;
      content: "";

      @include tablet {
        display: none;
      }
    }

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      &::after {
        display: block;
        transform: translateX(10px);
        background: url("../images/ico_white_arrow.png") no-repeat;
        background-size: cover;
      }
    }
    .contact_text {
      width: 70%;
    }
  }

  .footer_logo_area {
    display: flex;
    align-items: center;

    .footer_logo {
      width: 13%;
      height: 100%;
      transform: rotate(-50deg) translate(0vw, 1vw);
    }

    .text {
      width: 87%;
    }
  }
}
