.header {
  z-index: 3;
  transform: translateY(-100%);
  transition: all 0.5s;
  width: 100%;
  position: fixed;
  align-content: center;
  background-color: #e4e4e4;
  &.is_active {
    background-color: #f4f4f1;
  }
  &.js_show {
    transform: none;
  }

  .inner {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headline_wrap {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  .headline {
    font-size: 36px;
    font-weight: 600;
  }
  .logo {
    width: 3rem;
    height: 3rem;
    z-index: 1;
    svg {
      height: 100%;
      animation: rotate 10s linear infinite;
    }
    &.is_active {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  .buttonBugger {
    display: none;
    @include tablet {
      display: block;
      position: relative;
      width: 27px;
      height: 20px;
      transition: 0.2s;

      .line_top,
      .line_middle,
      .line_bottom {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #000;
        transition: all 0.2s ease-in-out;
      }

      .line_top {
        top: 0;
      }
      .line_middle {
        top: 50%;
        transform: translateY(-50%);
      }

      .line_bottom {
        top: 100%;
        transform: translateY(-100%);
      }
      &[aria-pressed="true"] {
        z-index: 3;
        .line_top {
          background: #fff;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        .line_middle {
          transform: scaleX(0);
        }

        .line_bottom {
          background: #fff;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  .gnb {
    @include tablet {
      display: none;
    }
  }

  .nav {
    &_list {
      display: flex;
      justify-content: center;
      gap: 1.5vw;
    }

    &_item {
      border-radius: 1vw;
      border: 1px solid;
      font-weight: 300;
      padding: 0.6vw 1.05vw;
      color: #000;
      transition: all 0.3s;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    &_link {
      font-family: Apercu, sans-serif;
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
  .link_mail {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    @include tablet {
      display: none;
    }
  }
  .mo_gnb {
    display: none;
    @include tablet {
      display: block;
      transform: translateY(-100%);
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      padding-top: 100px;
      overflow-y: auto;
      transition: all 0.4s;
      background: #ccc;
      &.is_active {
        transform: none;
        border-bottom-right-radius: 4vw;
        border-bottom-left-radius: 4vw;
        overflow: hidden;
        background: #000;
        .inner {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .nav_list {
      align-items: center;
      flex-direction: column;
      gap: 0;
    }
    .nav_item {
      transform: none;
      width: 100%;
      border: none;
      color: #fff;
    }
    .nav_link {
      font-size: 4vw;
      font-family: Libre Baskerville, sans-serif;
      font-weight: 700;
    }
    .desc {
      width: 100%;
      margin-top: 4vw;
      padding-top: 1vw;
      padding-bottom: 2vw;
      text-align: center;
      border-top: 1px solid #a3a4a7;

      &_text {
        font-size: 2vw;
        color: #fff;
        font-family: Apercu, sans-serif;
      }
    }
  }
}
