.header {
  position: fixed;
  top: 0;
  transform: translateY(0%);
  display: flex;
  z-index: 2;
  width: 100%;
  padding: 30px 2vw;
  // background: url("../images/img_header_bg.webp") no-repeat;
  // background-color: #e5e1da;
  background-size: 100% 100%;
  transition: 0.5s;

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    align-items: center;
    z-index: 3;
    padding: 20px 8vw 40px;
    background: none;
    mix-blend-mode: difference;
  }

  &.js_hidden {
    transform: translateY(-150%);
  }

  .logo {
    width: 4%;
    height: 4%;
    transition: 0.7s linear;

    @include mobile {
      width: 10%;
      height: 10%;
      transform: translateY(0);
    }

    svg {
      height: 100%;
      animation: rotate 10s linear infinite;
      @include tablet {
        fill: #fff;
      }
    }
  }
  .gnb {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;

    @include mobile {
      padding-bottom: 0;
    }

    .nav {
      &_list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        width: 100%;
        height: 100%;
      }

      &_item {
        width: 6em;
        height: 6em;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        font-family: "Libre Baskerville", serif;
        white-space: nowrap;

        @include tablet {
          display: none;
        }
      }

      &_link {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 6em;
      }
    }

    .home {
      background: url("../images/img_nav_item1.png") no-repeat;
      background-size: 100% 100%;
    }
    .works {
      background: url("../images/img_nav_item2.png") no-repeat;
      background-size: 100% 100%;
    }
    .dev {
      background: url("../images/img_nav_item3.png") no-repeat;
      background-size: 100% 100%;
    }
    .about {
      background: url("../images/img_nav_item4.png") no-repeat;
      background-size: 100% 100%;
    }

    .home,
    .works,
    .dev,
    .about {
      @include tablet {
        display: none;
      }
    }

    .contact {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 2vw;
      }
      @include mobile {
        padding: 5px;
        font-size: 3vw;
      }
    }
  }
}
