@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Georgian:wght@100;300;400;500;600;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "larken";
  src: url("../fonts/larken.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "bagerich";
  src: url("../fonts/Bagerich.woff") format("woff");
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* 세팅 */
body {
  background: #000;
  font-family: "pretandard", sans-serif;
  letter-spacing: 0em;
}

fieldset {
  border: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}

.scroll-hide {
  overflow: hidden;
}

.loading {
  position: fixed;
  z-index: 99999;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #1d1d1d;
}
.loading .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20.3px 40px;
  border-bottom: 2px solid #adadad;
}
.loading span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
}
.loading .bottom {
  padding-bottom: 50px;
  padding-right: 50px;
  align-self: flex-end;
}
.loading .bottom .count {
  font-size: 326px;
  font-weight: 500;
  line-height: 0.55;
}

.inner {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.scrollTop {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 100px;
  background: #fff;
  background-size: cover;
  overflow: hidden;
}
.header .inner {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: larken, sans-serif;
  height: 100vh;
}
@media screen and (max-width: 320px) {
  .header .inner {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.header .bigDeco {
  position: absolute;
  top: 80px;
  right: 0;
  transform: translate(50%, -50%);
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .header .bigDeco {
    top: 20%;
    right: 0;
    transform: translate(34%, -50%);
  }
}
@media screen and (max-width: 768px) {
  .header .bigDeco {
    top: 30%;
  }
}
@media screen and (max-width: 320px) {
  .header .bigDeco {
    top: 40%;
  }
}
.header .logo {
  flex: 1;
  font-size: 7.5vw;
  font-weight: 400;
  line-height: 90%;
}
@media screen and (max-width: 1024px) {
  .header .logo {
    font-size: 19vw;
    padding-top: 50px;
  }
}
.header .logo span {
  display: block;
  white-space: nowrap;
}
.header .logo span:first-child {
  font-size: clamp(20px, 5vw, 40px);
  line-height: 1.2;
}
@media screen and (max-width: 320px) {
  .header .logo span {
    white-space: pre-line;
  }
  .header .logo span br {
    display: none;
  }
}
.header .gnb {
  width: 35%;
  font-family: "pretandard", sans-serif;
}
@media screen and (max-width: 1024px) {
  .header .gnb {
    display: none;
  }
}
.header .profile-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .header .profile-image {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .profile-image {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .header .profile-image {
    display: none;
  }
}
.header .profile-image video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .nav-list {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .header .nav-list {
    display: flex;
    gap: 20px;
    top: 3%;
    right: 3%;
    left: auto;
    width: auto;
    height: auto;
  }
}
.header .nav-item {
  position: absolute;
  width: 10vw;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header .nav-item {
    position: relative;
  }
}
.header .nav-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  white-space: nowrap;
  font-family: "Libre Baskerville", serif;
  cursor: pointer;
}
@media screen and (min-width: 1229px) {
  .header .nav-item span {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  .header .nav-item span {
    font-size: 2vw;
  }
}
.header .nav-item.home {
  top: 5vw;
  left: 50vw;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header .nav-item.home {
    top: auto;
    left: auto;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.header .nav-item.about {
  top: 14vw;
  left: 56vw;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header .nav-item.about {
    top: auto;
    left: auto;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.header .nav-item.dev {
  top: 24vw;
  left: 50vw;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header .nav-item.dev {
    top: auto;
    left: auto;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.header .nav-item.works {
  top: 14vw;
  left: 37vw;
  width: 14vw;
  cursor: pointer;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .header .nav-item.works {
    top: auto;
    left: auto;
    width: 10vw;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.header .floating-box {
  display: none;
  top: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(-100%);
}
@media screen and (max-width: 1024px) {
  .header .floating-box {
    display: block;
    transform: none;
    position: fixed;
    top: 0;
  }
}
.header .floating-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.3vw;
  background: #f5f4f4;
  padding: 15px 80px;
}
@media screen and (max-width: 768px) {
  .header .floating-heading {
    padding: 15px 20px;
  }
}
.header .floating-headline {
  font-family: bagerich, sans-serif;
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header .floating-headline {
    display: none;
  }
}
.header .floating-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45px;
  transform: translate(-50%, -50%);
  transition: 0.7s linear;
}
@media screen and (max-width: 768px) {
  .header .floating-logo {
    position: static;
    z-index: 2;
    transform: translateY(0);
    height: 60px;
  }
}
.header .floating-logo svg {
  height: 100%;
  animation: rotate 10s linear infinite;
}
.header .floating-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .header .floating-nav-list {
    display: none;
  }
}
.header .floating-nav-item a {
  padding: 12px 20px;
  display: block;
  transition: 0.3s;
  border: 1px solid #0a0b0c;
  border-radius: 16px;
  overflow: hidden;
}
.header .floating-nav-item a:hover {
  background: #9a9a9a;
  border: 1px solid #9a9a9a;
  color: #fff;
}

.mo-gnb_btn {
  display: none;
}
.mo-gnb_btn .textBtn {
  display: block;
}
.mo-gnb_btn .icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  .mo-gnb_btn {
    display: block;
    min-width: 80px;
    height: 44px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #0a0b0c;
    border-radius: 16px;
  }
}
.mo-gnb_btn.on {
  position: relative;
  border: 0;
  z-index: 3;
}
.mo-gnb_btn.on .textBtn {
  display: none;
}
.mo-gnb_btn.on .icon {
  display: block;
  background: url("../images/btn_close.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 30px;
}

.mo_gnb {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: url("../images/menu2_new.png") no-repeat;
  background-position: center;
  background-size: 300%;
  padding: 14px 37px 100px 37px;
}
.mo_gnb .gnb-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mo_gnb .gnb-logo svg {
  width: 10%;
  width: 60px;
  transform: rotate(-50deg);
}
.mo_gnb .gnb-logo svg path {
  fill: #fff;
}
.mo_gnb .gnb-logo img {
  width: 300px;
}
@media screen and (max-width: 500px) {
  .mo_gnb .gnb-logo img {
    display: none;
  }
}
.mo_gnb-list {
  color: #fff;
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.mo_gnb-item {
  font-family: "NeueMontreal", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-weight: 400;
  text-transform: uppercase;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background: #000;
  color: #fff;
  height: 100vh;
  padding-top: 90px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer {
    position: relative;
    padding-top: 50px;
    height: auto;
  }
}
.footer .inner {
  width: 100%;
  display: flex;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .intro-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .intro-heading .headline {
  font-size: 60px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .footer .intro-heading .headline {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 768px) {
  .footer .intro-heading .headline {
    font-size: 9vw;
  }
}
@media screen and (max-width: 320px) {
  .footer .intro-heading .headline {
    font-size: 12vw;
  }
}
.footer .contact-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 16px;
  border: 1px solid #fff;
  padding: 15px;
  transition: 0.3s;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.footer .contact-btn:hover {
  background: #fff;
  color: #000;
}
.footer .text-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
}
.footer .text-box .title {
  font-size: 25px;
  letter-spacing: -0.25px;
  font-family: larken, sans-serif;
  padding-bottom: 1vw;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .footer .text-box .title {
    font-size: 20px;
  }
}
.footer .text-box .cate {
  text-transform: uppercase;
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  .footer .text-box .cate {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer .text-box .cate {
    font-size: 12px;
  }
}
.footer .text-box .paragraph {
  font-size: 16px;
  padding: 0.4vw 0;
}
@media screen and (max-width: 1024px) {
  .footer .text-box .paragraph {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer .text-box .paragraph {
    font-size: 12px;
  }
}
.footer .heading {
  display: flex;
  align-items: center;
}
.footer .heading-logo {
  width: 13%;
  height: 100%;
  transform: rotate(-50deg) translate(0vw, 1vw);
}
.footer .heading .text {
  width: 87%;
}

.wrapper {
  padding-bottom: 100vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-bottom: 0;
  }
}

.container {
  position: relative;
  background: #fff;
  z-index: 1;
  border-radius: 0 0 80px 80px;
  overflow: hidden;
}

section {
  padding-bottom: 70px;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  section {
    padding-bottom: 0;
  }
}
section .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .heading-area {
  position: relative;
}
section .heading-area .headline {
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
}
@media screen and (max-width: 1024px) {
  section .heading-area .headline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 15vw;
  }
}
section .heading-area .badge {
  position: absolute;
  bottom: -50px;
  right: 30%;
  background-color: #f4c727;
  border-radius: 36px;
  padding: 24px 36px;
  font-size: 20px;
  transform: rotate(-10deg);
}
@media screen and (max-width: 1024px) {
  section .heading-area .badge {
    right: 10%;
  }
}
@media screen and (max-width: 320px) {
  section .heading-area .badge {
    padding: 16px 24px;
    font-size: 14px;
  }
}

.section-works {
  position: relative;
  z-index: 1;
}
.section-works::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: rotate(-180deg);
}
.section-works .deco1 {
  position: absolute;
  top: 0;
  left: -5vw;
  width: 30vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco1.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco2 {
  position: absolute;
  top: 10vw;
  right: -5vw;
  width: 40vw;
  transform: rotate(10deg);
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco2.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco3 {
  position: absolute;
  top: 45vw;
  left: 20vw;
  width: 30vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco3.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco4 {
  position: absolute;
  top: 60vw;
  left: 3vw;
  width: 20vw;
  transform: rotate(40deg);
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco4.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco5 {
  position: absolute;
  top: 70vw;
  right: -10vw;
  width: 50vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco5.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco6 {
  position: absolute;
  top: 100vw;
  left: -7vw;
  width: 40vw;
  transform: scaleX(-1);
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco6.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco7 {
  position: absolute;
  top: 120vw;
  left: 40vw;
  width: 30vw;
  transform: rotate(90deg);
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco7.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco8 {
  position: absolute;
  top: 120vw;
  right: 7vw;
  width: 25vw;
  transform: rotate(-90deg);
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco8.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco9 {
  position: absolute;
  top: 160vw;
  right: -10vw;
  width: 50vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco9.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco10 {
  position: absolute;
  top: 170vw;
  width: 45vw;
  left: -5vw;
  opacity: 0;
  transform: scale(-1.5);
  transition: 0.5s;
}
.section-works .deco10.on {
  opacity: 1;
  transform: scaleX(-1);
}
.section-works .deco11 {
  position: absolute;
  top: 160vw;
  left: 2vw;
  width: 30vw;
  width: 30vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco11.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco12 {
  position: absolute;
  top: 190vw;
  left: 25vw;
  width: 30vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco12.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .works-area {
  display: grid;
  grid-column-gap: 7vw;
  grid-template-columns: repeat(5, 11vw);
  grid-auto-rows: 8.7vw;
  margin-top: 250px;
  padding-bottom: 100px;
  justify-content: center;
  grid-row-gap: 4vw;
}
@media screen and (max-width: 1024px) {
  .section-works .works-area {
    display: flex;
    flex-direction: column;
    grid-row-gap: 3vw;
    grid-column-gap: 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section-works .works-area {
    gap: 15px;
  }
}
.section-works .work {
  position: relative;
  z-index: 1;
}
.section-works .work .thumb-box {
  position: relative;
  padding-bottom: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.section-works .work .thumb-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 0;
}
.section-works .work .thumb-box:hover::before {
  opacity: 1;
}
.section-works .work .thumb-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-works .work .work-category {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.section-works .work .personal,
.section-works .work .common {
  position: absolute;
  left: -14px;
  top: 29px;
  width: 230px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  padding: 15px 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.section-works .work .personal {
  background-color: #00aaa0;
}
.section-works .work .common {
  background-color: #60aa00;
}
.section-works .work .link-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s;
}
.section-works .work .link-work:hover {
  background: #fff;
  color: #000;
}
.section-works .work .link-work:hover svg path {
  fill: #000;
  stroke: #000;
}
.section-works .work .text-box {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  text-align: right;
  padding: 0.5vw 0;
}
@media screen and (max-width: 768px) {
  .section-works .work .text-box {
    gap: 10px;
  }
}
.section-works .work .text-box h3 {
  font-size: 25px;
  font-family: larken, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 1229px) {
  .section-works .work .text-box h3 {
    font-size: 2vw;
  }
}
.section-works .work .text-box .desc {
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.section-works .work .text-box .desc small {
  font-size: 15px;
}
.section-works .work .text-box .desc .link {
  position: relative;
  color: #7824e5;
}
.section-works .work .text-box .desc .link:hover:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #7824e5;
}
.section-works .work .text-box .hash {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5vw;
}
@media screen and (max-width: 768px) {
  .section-works .work .text-box .hash {
    gap: 5px;
  }
}
.section-works .work .text-box .hash span {
  border: 1px solid #000;
  border-radius: 16px;
  padding: 5px 8px;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 1229px) {
  .section-works .work .text-box .hash span {
    font-size: 0.9vw;
  }
}
@media screen and (max-width: 768px) {
  .section-works .work .text-box .hash span {
    font-size: 12px;
  }
}
.section-works .work1 {
  grid-column: span 3;
  grid-row: 1/5;
}
@media screen and (max-width: 768px) {
  .section-works .work1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.section-works .work1 .thumb-box {
  padding-bottom: 50%;
}
@media screen and (max-width: 1024px) {
  .section-works .work1 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work2 {
  border-radius: 20px;
  grid-row: span 4;
  grid-column: 4/6;
  transform: translateY(4vw);
}
@media screen and (max-width: 1024px) {
  .section-works .work2 {
    transform: none;
  }
}
.section-works .work2 .thumb-box {
  background: rgb(96, 95, 95);
  padding-bottom: 120%;
}
@media screen and (max-width: 1024px) {
  .section-works .work2 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work3 {
  grid-column: 1/3;
  grid-row: 5/10;
  transform: translateY(-9vw);
}
@media screen and (max-width: 1024px) {
  .section-works .work3 {
    transform: none;
  }
}
.section-works .work3 .thumb-box {
  padding-bottom: 120%;
}
@media screen and (max-width: 1024px) {
  .section-works .work3 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work3 .text-box .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.section-works .work4 {
  border-radius: 20px;
  grid-column: 3/6;
  grid-row: 5/8;
  transform: translateY(5vw);
}
@media screen and (max-width: 1024px) {
  .section-works .work4 {
    transform: none;
  }
}
.section-works .work4 .thumb-box {
  grid-column: 1/4;
  background-color: #167cff;
  padding-bottom: 50%;
}
@media screen and (max-width: 1024px) {
  .section-works .work4 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work4 .thumb-box img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section-works .work4 .thumb-box .personal {
  top: 23px;
}
.section-works .work4 .text-box {
  grid-column: 1/4;
}
.section-works .work4 .text-box .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.section-works .work5 {
  transform: translate(6vw, -7vw);
  grid-column: 1/5;
  grid-row: 9/13;
}
@media screen and (max-width: 1024px) {
  .section-works .work5 {
    transform: none;
  }
}
.section-works .work5 .thumb-box {
  padding-bottom: 40%;
}
@media screen and (max-width: 1024px) {
  .section-works .work5 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work5 .thumb-box img {
  transition: 0.8s;
}
.section-works .work5 .thumb-box:hover img {
  transform: scale(1.1);
}
.section-works .work6 {
  grid-column: 3/6;
  grid-row: 12/16;
}
.section-works .work6 .thumb-box {
  padding-bottom: 70%;
}
@media screen and (max-width: 1024px) {
  .section-works .work6 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work7 {
  grid-column: 1/2;
  grid-row: 15/19;
  transform: translateY(-17vw);
}
@media screen and (max-width: 1024px) {
  .section-works .work7 {
    transform: none;
  }
}
.section-works .work7 .thumb-box {
  background: #cedbe4;
  padding-bottom: 100%;
}
@media screen and (max-width: 1024px) {
  .section-works .work7 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work7 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-works .work8 {
  grid-column: 1/3;
  grid-row: 12/14;
  transform: translateY(-6vw);
}
@media screen and (max-width: 1024px) {
  .section-works .work8 {
    transform: none;
  }
}
.section-works .work8 .thumb-box {
  padding-bottom: 30%;
}
@media screen and (max-width: 1024px) {
  .section-works .work8 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work8 .thumb-box .common {
  top: 18px;
}
.section-works .work9 {
  grid-column: 4/6;
  grid-row: 16/19;
}
.section-works .work9 .thumb-box {
  padding-bottom: 50%;
}
@media screen and (max-width: 1024px) {
  .section-works .work9 .thumb-box {
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section-works .work9 img {
    -o-object-position: 0 -65px;
       object-position: 0 -65px;
  }
}
.section-works .work10 {
  grid-column: 2/4;
  grid-row: 15/16;
}
@media screen and (max-width: 1024px) {
  .section-works .work10 {
    transform: none;
  }
}
.section-works .work10 .thumb-box {
  padding-bottom: 70%;
  background: #cedbe4;
}
@media screen and (max-width: 1024px) {
  .section-works .work10 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work10 .bg {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(7, 2vw);
  grid-template-rows: repeat(5, 2vw);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 1.5vw;
  background: #cedbe4;
}
@media screen and (max-width: 1024px) {
  .section-works .work10 .bg {
    display: none;
  }
}
.section-works .work10 .e52524 {
  background: #e52524;
  border-radius: 50%;
}
.section-works .work10 .e52524.blink {
  animation: blink-effect 1s step-end infinite;
}
.section-works .work10 .a16466a {
  background: #16466a;
  border-radius: 50%;
}
.section-works .work10 .a16466a.blink {
  animation: blink-effect 2s step-end infinite;
}
.section-works .work10 .text-box .desc {
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  font-size: 1.1vw;
}
.section-works .work11 {
  grid-column: 4/6;
  grid-row: 14/19;
}
.section-works .work11 .thumb-box {
  padding-bottom: 150%;
}
@media screen and (max-width: 1024px) {
  .section-works .work11 .thumb-box {
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section-works .work11 img {
    -o-object-position: 0 20%;
       object-position: 0 20%;
  }
}

.section-log {
  position: relative;
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0;
}
.section-log .heading-area {
  padding-bottom: 50px;
  padding-top: 70px;
}
.section-log .inner {
  position: relative;
  align-items: normal;
  padding-top: 30px;
  padding-bottom: 300px;
  background: #f4f4f2;
  border-radius: 0 0 80px 80px;
}
@media screen and (max-width: 768px) {
  .section-log .inner {
    border-radius: 0;
    padding-bottom: 210px;
  }
}
.section-log .title {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
.section-log .log-area {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .section-log .log-area {
    flex-direction: column;
    gap: 1vw;
  }
}
@media screen and (max-width: 768px) {
  .section-log .log-area {
    font-size: 20px;
  }
}
.section-log .log-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 1024px) {
  .section-log .log-list {
    flex: 0;
  }
}
@media screen and (max-width: 768px) {
  .section-log .log-list {
    flex-direction: column;
  }
}
.section-log .log-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: calc((100% - 50px) / 3);
  background-color: #222;
  border: 1px solid #545454;
  border-radius: 10px;
  padding: 25px;
  transition: 0.2s;
  cursor: pointer;
}
.section-log .log-item .item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.section-log .log-item .hash {
  padding: 5px 0px 20px;
  color: #aaa;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .section-log .log-item .hash {
    font-size: 13px;
  }
}
.section-log .log-item .desc {
  font-size: 14px;
  width: 100%;
  line-height: 1.4;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section-log .log-item:hover {
  background-color: rgba(84, 84, 84, 0.6274509804);
}
.section-log .log-item:hover .item-title {
  color: #222;
  font-weight: 700;
}
.section-log .log-item:hover .hash {
  color: #000;
  font-weight: 500;
}
.section-log .log-item:hover .desc {
  color: #fff;
}
.section-log .more {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 196px;
}
.section-log .more img {
  animation: rotate 24s linear infinite;
}
@media screen and (max-width: 1024px) {
  .section-log .more {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .section-log .more {
    bottom: 1%;
  }
}