@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Georgian:wght@100;300;400;500;600;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
@keyframes slide_up {
  0% {
    height: 0%;
  }
  100% {
    height: 7vw;
    z-index: 10;
  }
}
@keyframes letterC {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2450px;
  }
}
@font-face {
  font-family: "larken";
  src: url("../fonts/larken.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "bagerich";
  src: url("../fonts/Bagerich.woff") format("woff");
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "pretandard";
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/HelveticaNowDisplay-Md.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/HelveticaNowDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "AribauGroteskBlackItalic";
  src: url("../fonts/AribauGroteskBlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "AribauGroteskBlack";
  src: url("../fonts/AribauGroteskBold.woff2") format("woff2");
}
@font-face {
  font-family: "AribauGrotesklighter";
  src: url("../fonts/AribauGroteskExtraLight.woff2") format("woff2");
  font-weight: lighter;
}
@font-face {
  font-family: "AribauGrotesklight";
  src: url("../fonts/AribauGroteskLight.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AribauGrotesk";
  src: url("../fonts/AribauGroteskRegular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "cinzel";
  src: url("../fonts/Cinzel-Black.woff") format("woff");
  font-weight: 900;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* 세팅 */
body {
  padding-bottom: 100vh;
  height: auto;
  font-family: "pretandard", sans-serif;
  letter-spacing: 0em;
}
@media screen and (max-width: 1024px) {
  body {
    padding-bottom: 0;
  }
}

fieldset {
  border: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}
#skip-header a:focus, #skip-header a:active {
  transform: translateY(0);
}

.scroll-hide {
  overflow: hidden;
}

.intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 100vh;
  width: 100%;
  background-color: #d3bcce;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro p {
  text-align: center;
  margin-bottom: 300px;
}
.intro .char {
  opacity: 0;
  transform: scale(0);
  display: none;
  font-family: cinzel;
  font-size: 5vw;
  font-weight: 500;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .intro .char {
    font-size: 9vw;
  }
}
.intro #flowerAnimation {
  width: 600px;
  height: 601px;
  background-image: url("../images/v2-2.png"); /* 스프라이트 이미지 경로 */
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1024px) {
  .intro #flowerAnimation {
    background-image: url("../images/v2_1.png");
    width: 320px;
    height: 400px;
  }
}

.inner {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hash span {
  transition: 0.3s all;
}
.hash span:hover {
  color: #fff;
  background-color: #000;
}

.cursor {
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #a3d5f4, #c8a2c8, #f4b4b4);
  z-index: 10;
  position: fixed;
  transform: translate(-50%, -50%);
}
.cursor span {
  visibility: hidden;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6vw;
}
@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}

.scrollTop {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.header {
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: larken, sans-serif;
  height: 100vh;
}
@media screen and (max-width: 320px) {
  .header .inner {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header .inner .gnb {
    display: none;
  }
}
.header .bigDeco {
  position: absolute;
  top: 80px;
  right: 0;
  transform: translate(20%, -24%);
}
@media screen and (max-width: 1024px) {
  .header .bigDeco {
    top: 20%;
    right: 0;
    transform: translate(34%, -50%);
  }
}
.header .logo-desc {
  font-size: 7vw;
  font-weight: 900;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .header .logo-desc {
    font-size: 13vw;
  }
}
@media screen and (max-width: 768px) {
  .header .logo-desc {
    font-size: 10vw;
  }
}
.header .gnb {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  font-family: "pretandard", sans-serif;
}
.header .gnb .nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.header .gnb .nav-list .nav-item {
  width: 6em;
  height: 100%;
  color: #fff;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header .gnb .nav-list .nav-item {
    display: none;
  }
}
.header .gnb .nav-list .nav-item a {
  position: relative;
}
.header .gnb .nav-list .nav-item.home span, .header .gnb .nav-list .nav-item.works span, .header .gnb .nav-list .nav-item.dev span, .header .gnb .nav-list .nav-item.about span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1024px) {
  .header .gnb .nav-list .nav-item.home, .header .gnb .nav-list .nav-item.works, .header .gnb .nav-list .nav-item.dev, .header .gnb .nav-list .nav-item.about {
    display: none;
  }
}
.header .gnb .nav-list .nav-item.contact {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .gnb .nav-list .nav-item.contact {
    width: auto;
    display: flex;
    align-items: center;
    font-size: 3vw;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px;
  }
}
.header .floating-box {
  width: 100%;
  position: fixed;
  display: flex;
  transform: translateY(-150%);
  top: 0;
  z-index: 3;
  background: url("../images/adobe_3.webp") no-repeat;
  background-size: 100% 100%;
  transition: 0.5s;
  padding: 30px 2vw;
}
.header .floating-box.on {
  transform: translateY(0%);
}
@media screen and (max-width: 1024px) {
  .header .floating-box {
    transform: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    align-items: center;
    padding: 20px 8vw 40px;
    background: none;
    mix-blend-mode: difference;
  }
}
.header .floating-logo {
  transition: 0.7s linear;
  width: 4%;
  height: 4%;
}
@media screen and (max-width: 768px) {
  .header .floating-logo {
    transform: translateY(0);
    width: 10%;
    height: 10%;
  }
}
.header .floating-logo svg {
  height: 100%;
  animation: rotate 10s linear infinite;
}
@media screen and (max-width: 1024px) {
  .header .floating-logo svg {
    fill: #fff;
  }
}

.mo-gnb_btn {
  display: none;
}
.mo-gnb_btn .textBtn {
  display: block;
}
.mo-gnb_btn .icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  .mo-gnb_btn {
    display: block;
    min-width: 80px;
    height: 48px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #0a0b0c;
    border-radius: 16px;
  }
}
.mo-gnb_btn.on {
  position: relative;
  border: 0;
  z-index: 3;
}
.mo-gnb_btn.on .textBtn {
  display: none;
}
.mo-gnb_btn.on .icon {
  display: block;
  background: url("../images/btn_close.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 30px;
}

.mo_gnb {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: url("../images/menu2.png") no-repeat;
  background-position: center;
  background-size: 300%;
  padding: 20px 37px 50px 37px;
}
.mo_gnb .gnb-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mo_gnb .gnb-logo svg {
  width: 10%;
  width: 60px;
  transform: rotate(-50deg);
}
.mo_gnb .gnb-logo svg path {
  fill: #fff;
}
.mo_gnb .gnb-logo img {
  width: 300px;
}
@media screen and (max-width: 500px) {
  .mo_gnb .gnb-logo img {
    display: none;
  }
}
.mo_gnb-list {
  color: #fff;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.mo_gnb-item {
  font-family: "NeueMontreal", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-weight: 400;
  text-transform: uppercase;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  gap: 300px;
  color: #000;
  height: 100vh;
  justify-content: flex-end;
  background: url("../images/white_paper11.jpg");
}
@media screen and (max-width: 1024px) {
  .footer {
    position: relative;
    height: auto;
    gap: 0;
  }
}
.footer .inner {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .footer .inner {
    padding-top: 50px;
  }
}
.footer .intro-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .intro-heading .headline {
  font-size: 1vw;
  font-weight: 300;
  font-family: "Libre Baskerville";
}
@media screen and (max-width: 1024px) {
  .footer .intro-heading .headline {
    font-size: 5vw;
  }
}
.footer .contact {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.7vw;
  font-family: "Libre Baskerville";
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: 0.5s ease;
}
@media screen and (max-width: 1024px) {
  .footer .contact {
    width: 100px;
    height: 100px;
    font-size: 3vw;
    margin-bottom: 20px;
    padding-left: 10px;
  }
}
.footer .contact:after {
  content: "";
  display: block;
  background: url("../images/next.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: translateX(0);
  transition: 0.5s ease;
  margin-left: 5px;
}
@media screen and (max-width: 1024px) {
  .footer .contact:after {
    width: 10px;
    height: 10px;
  }
}
.footer .contact:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.footer .contact:hover::after {
  transform: translateX(10px);
  display: block;
  background: url("../images/next-1.png") no-repeat;
  background-size: cover;
}
.footer .contact-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 16px;
  border: 1px solid #fff;
  padding: 15px;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.footer .contact-btn:hover {
  background: #fff;
  color: #000;
}
.footer .text-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
}
.footer .text-box .title {
  font-size: 40px;
  letter-spacing: -0.25px;
  font-family: larken, sans-serif;
  padding-bottom: 1vw;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .footer .text-box .title {
    font-size: 20px;
  }
}
.footer .text-box .cate {
  text-transform: uppercase;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .footer .text-box .cate {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer .text-box .cate {
    font-size: 12px;
  }
}
.footer .text-box .content {
  font-size: 18px;
}
.footer .text-box .paragraph {
  font-size: 16px;
  padding: 0.4vw 0;
}
@media screen and (max-width: 1024px) {
  .footer .text-box .paragraph {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer .text-box .paragraph {
    font-size: 12px;
  }
}
.footer .heading {
  display: flex;
  align-items: center;
}
.footer .heading-logo {
  width: 13%;
  height: 100%;
  transform: rotate(-50deg) translate(0vw, 1vw);
}
.footer .heading .text {
  width: 87%;
}

.wrapper {
  position: relative;
  z-index: 1;
  background-color: #d3bcce;
  background: url("../images/adobe_6_1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 1229px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-bottom: 0;
    min-width: 320px;
  }
}

.container {
  padding-top: 500px;
  padding-bottom: 300px;
}
@media screen and (max-width: 768px) {
  .container {
    padding-top: 0;
  }
}

section {
  padding-bottom: 400px;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  section {
    padding-bottom: 0;
  }
}
section .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .heading-area {
  position: relative;
}
section .heading-area .headline {
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
}
@media screen and (max-width: 1024px) {
  section .heading-area .headline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
  }
}
section .heading-area .badge {
  position: absolute;
  bottom: -50px;
  right: 30%;
  background-color: #f4c727;
  border-radius: 36px;
  padding: 24px 36px;
  font-size: 20px;
  transform: rotate(-10deg);
}
@media screen and (max-width: 1024px) {
  section .heading-area .badge {
    right: 10%;
    padding: 16px 24px;
    font-size: 14px;
  }
}

.section-works {
  position: relative;
  z-index: 1;
}
.section-works::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: rotate(-180deg);
}
.section-works .deco1 {
  position: absolute;
  top: 0;
  left: -5vw;
  width: 30vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco1.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco2 {
  position: absolute;
  top: 10vw;
  right: -5vw;
  width: 20vw;
  transform: rotate(10deg);
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco2.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco5 {
  position: absolute;
  right: -10vw;
  width: 38vw;
  top: 55vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco5.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco7 {
  position: absolute;
  top: 120vw;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0.5) rotate(45deg);
  width: 25vw;
  right: 0vw;
}
.section-works .deco7.on {
  opacity: 1;
  transform: scale(1) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .section-works .deco7 {
    display: none;
  }
}
.section-works .deco8 {
  position: absolute;
  top: 117vw;
  right: 82vw;
  width: 25vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco8.on {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .section-works .deco8 {
    display: none;
  }
}
.section-works .deco10 {
  position: absolute;
  top: 155vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
  width: 42vw;
  left: -6vw;
}
.section-works .deco10.on {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .section-works .deco10 {
    display: none;
  }
}
.section-works .deco11 {
  position: absolute;
  top: 160vw;
  left: 2vw;
  width: 30vw;
  width: 30vw;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}
.section-works .deco11.on {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .section-works .deco11 {
    display: none;
  }
}
.section-works .deco12 {
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
  width: 18vw;
  right: 20vw;
  top: 158vw;
}
.section-works .deco12.on {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .section-works .deco12 {
    display: none;
  }
}
.section-works .deco13 {
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
  width: 16vw;
  left: 53vw;
  top: 61vw;
}
.section-works .deco13.on {
  opacity: 1;
  transform: scale(1);
}
.section-works .deco14 {
  position: absolute;
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
  transition: 0.5s;
  top: 184vw;
  left: 77vw;
  width: 22vw;
}
.section-works .deco14.on {
  opacity: 1;
  transform: scale(1) rotate(90deg);
}
@media screen and (max-width: 768px) {
  .section-works .deco14 {
    display: none;
  }
}
.section-works .deco15 {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  right: 50vw;
  top: 204vw;
  width: 17vw;
  transform: scale(0.5) rotate(77deg);
}
.section-works .deco15.on {
  opacity: 1;
  transform: scale(1) rotate(77deg);
}
@media screen and (max-width: 768px) {
  .section-works .deco15 {
    display: none;
  }
}
.section-works .deco16 {
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
  width: 25vw;
  right: -7vw;
  top: 277vw;
}
.section-works .deco16.on {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .section-works .deco16 {
    display: none;
  }
}
.section-works .works-area {
  display: grid;
  grid-auto-rows: 8.7vw;
  grid-column-gap: 3.5vw;
  grid-template-columns: repeat(7, 10vw);
  grid-auto-rows: 7.7vw;
  margin-top: 250px;
  padding-bottom: 100px;
  justify-content: center;
  grid-row-gap: 1.5vw;
}
@media screen and (max-width: 1024px) {
  .section-works .works-area {
    display: flex;
    flex-direction: column;
    grid-row-gap: 3vw;
    grid-column-gap: 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section-works .works-area {
    gap: 15px;
    margin-top: 200px;
  }
}
.section-works .work {
  position: relative;
  z-index: 1;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .section-works .work {
    display: flex;
    flex-direction: column;
  }
}
.section-works .work .thumb-box {
  position: relative;
  padding-bottom: 100%;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}
.section-works .work .thumb-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 0;
}
.section-works .work .thumb-box:hover::before {
  opacity: 1;
}
.section-works .work .thumb-box:hover img {
  transform: scale(1.1);
}
.section-works .work .thumb-box:hover {
  border-radius: 140px;
}
.section-works .work .thumb-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s;
}
.section-works .work .work-category {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.section-works .work .personal,
.section-works .work .common {
  position: absolute;
  left: -14px;
  top: 35px;
  width: 230px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  padding: 15px 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.section-works .work .personal {
  background-color: #00aaa0;
}
.section-works .work .common {
  background-color: #60aa00;
}
.section-works .work .project-link-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.section-works .work .link-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  transition: background 0.3s, color 0.3s;
  font-size: 18px;
}
.section-works .work .link-work:hover {
  background: #fff;
  color: #000;
}
.section-works .work .link-work:hover svg path {
  fill: #000;
  stroke: #000;
}
.section-works .work .text-box {
  display: flex;
  flex-direction: column;
  font-family: Helvetica Now Display, sans-serif;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .section-works .work .text-box {
    gap: 5px;
  }
}
.section-works .work .text-box h3 {
  font-size: 4vw;
  font-family: larken, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
.section-works .work .text-box .title {
  font-size: 2rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.section-works .work .text-box .title .link {
  position: relative;
  color: #7824e5;
}
.section-works .work .text-box .title .link:hover:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #7824e5;
}
.section-works .work .text-box .desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  font-size: 1.25rem;
}
.section-works .work .text-box .hash {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
@media screen and (max-width: 320px) {
  .section-works .work .text-box .hash {
    gap: 5px;
  }
}
.section-works .work .text-box .hash span {
  font-family: "AribauGrotesklight", sans-serif;
  font-size: 1vw;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .section-works .work .text-box .hash span {
    font-size: 3vw;
  }
}
.section-works .work1 {
  grid-row: 1/5;
  grid-column: 3/6;
}
.section-works .work1 .thumb-box {
  padding-bottom: 80%;
}
@media screen and (max-width: 1024px) {
  .section-works .work1 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work1 .desc {
  font-size: 17px;
}
.section-works .work1 .desc.pc {
  padding-top: 0;
}
@media screen and (max-width: 1024px) {
  .section-works .work1 .desc.pc {
    display: none;
  }
}
.section-works .work1 .desc.mo {
  display: none;
}
@media screen and (max-width: 1024px) {
  .section-works .work1 .desc.mo {
    display: flex;
  }
}
.section-works .work2 {
  grid-column: 6/8;
  grid-row: 3/6;
}
.section-works .work2 .thumb-box {
  padding-bottom: 80%;
}
@media screen and (max-width: 1024px) {
  .section-works .work2 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work2 .desc {
  font-size: 17px;
}
.section-works .work2 .desc.pc {
  padding-top: 0;
}
@media screen and (max-width: 1024px) {
  .section-works .work2 .desc.pc {
    display: none;
  }
}
.section-works .work2 .desc.mo {
  display: none;
}
@media screen and (max-width: 1024px) {
  .section-works .work2 .desc.mo {
    display: flex;
  }
}
.section-works .work3 {
  border-radius: 20px;
  grid-column: 1/3;
  grid-row: 6/10;
}
.section-works .work3 .thumb-box {
  background: rgb(96, 95, 95);
  padding-bottom: 130%;
}
@media screen and (max-width: 1024px) {
  .section-works .work3 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work3 .text-box {
  justify-content: start;
  flex-direction: column;
}
.section-works .work4 {
  grid-column: 3/7;
  grid-row: 7/11;
}
.section-works .work4 .thumb-box {
  padding-bottom: 70%;
}
@media screen and (max-width: 1024px) {
  .section-works .work4 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work4 .text-box {
  justify-content: start;
  flex-direction: column;
}
.section-works .work5 {
  border-radius: 20px;
  grid-column: 2/4;
  grid-row: 12/15;
}
.section-works .work5 .thumb-box {
  background-color: #167cff;
  padding-bottom: 50%;
}
@media screen and (max-width: 1024px) {
  .section-works .work5 .thumb-box {
    padding-bottom: 50%;
    width: 100%;
    height: 100%;
  }
}
.section-works .work5 .thumb-box img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-works .work6 {
  grid-column: 4/7;
  grid-row: 12/15;
}
.section-works .work6 .thumb-box {
  padding-bottom: 60%;
}
@media screen and (max-width: 1024px) {
  .section-works .work6 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work7 {
  grid-row: 16/21;
  grid-column: 3/5;
}
.section-works .work7 .thumb-box {
  padding-bottom: 140%;
}
@media screen and (max-width: 1024px) {
  .section-works .work7 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work8 {
  grid-row: 18/21;
  grid-column: 5/7;
}
.section-works .work8 .thumb-box {
  padding-bottom: 50%;
}
@media screen and (max-width: 1024px) {
  .section-works .work8 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work9 {
  grid-row: 22/26;
  grid-column: 1/4;
}
@media screen and (max-width: 1024px) {
  .section-works .work9 {
    transform: none;
  }
}
.section-works .work9 .thumb-box {
  padding-bottom: 70%;
}
@media screen and (max-width: 1024px) {
  .section-works .work9 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work9 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 1.5vw;
  background: #cedbe4;
}
.section-works .work9 .text-box .desc {
  word-break: keep-all;
}
.section-works .work10 {
  grid-row: 23/26;
  grid-column: 4/6;
}
.section-works .work10 .thumb-box {
  padding-bottom: 40%;
}
@media screen and (max-width: 1024px) {
  .section-works .work10 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work10 .thumb-box .common {
  top: 18px;
}
.section-works .work11 {
  grid-row: 21/25;
  grid-column: 6/8;
}
.section-works .work11 .thumb-box {
  background: #cedbe4;
  padding-bottom: 100%;
}
@media screen and (max-width: 1024px) {
  .section-works .work11 .thumb-box {
    padding-bottom: 50%;
  }
}
.section-works .work11 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-log {
  position: relative;
  z-index: 1;
  padding-top: 0;
  padding-bottom: 0;
}
.section-log::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
}
.section-log .heading-area {
  padding-bottom: 50px;
  padding-top: 70px;
}
.section-log .inner {
  position: relative;
  align-items: normal;
  padding-top: 30px;
  padding-bottom: 300px;
}
@media screen and (max-width: 768px) {
  .section-log .inner {
    border-radius: 0;
    padding-bottom: 210px;
  }
}
.section-log .title {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
.section-log .log-area {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .section-log .log-area {
    flex-direction: column;
    gap: 1vw;
  }
}
@media screen and (max-width: 768px) {
  .section-log .log-area {
    font-size: 20px;
  }
}
.section-log .log-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 1024px) {
  .section-log .log-list {
    flex: 0;
  }
}
@media screen and (max-width: 768px) {
  .section-log .log-list {
    flex-direction: column;
  }
}
.section-log .log-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: calc((100% - 50px) / 3);
  background-color: #222;
  border: 1px solid #545454;
  border-radius: 10px;
  padding: 25px;
  transition: 0.2s;
  cursor: pointer;
}
.section-log .log-item .item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .section-log .log-item .item-title {
    font-size: 4vw;
  }
}
.section-log .log-item .hash {
  padding: 5px 0px 20px;
  color: #aaa;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .section-log .log-item .hash {
    font-size: 3vw;
  }
}
.section-log .log-item .desc {
  font-size: 14px;
  width: 100%;
  line-height: 1.4;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 1024px) {
  .section-log .log-item .desc {
    font-size: 3vw;
  }
}
.section-log .log-item:hover {
  background-color: rgba(84, 84, 84, 0.6274509804);
}
.section-log .log-item:hover .item-title {
  color: #222;
  font-weight: 700;
}
.section-log .log-item:hover .hash {
  color: #000;
  font-weight: 500;
}
.section-log .log-item:hover .desc {
  color: #fff;
}
.section-log .more {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 196px;
  cursor: pointer;
}
.section-log .more a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.section-log .more img {
  animation: rotate 24s linear infinite;
}
@media screen and (max-width: 1024px) {
  .section-log .more {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .section-log .more {
    bottom: 1%;
  }
}